$white: #ffffff;
$black: #000000;
$gray-blue-hover: #F8FAFB;
$gray-blue-border: #E0E8F0;
$gray-blue-border-hover: #cfd9e3;
$darkblue: #2A3F64;
$blue: #3F6ADA;
$blue2: #4672E3;
$red: #ff2c2c;
$red2: #FF6C59;
$yellow: #FFDD00;
$green: #A2E118;
$green2: #b2e641;
$green3: #6be500;
$close-color: #9DB9D1;
$light-gray: #F0F4FB;
$light-gray2: #f9fafd;
$gray: #b2b8c4;
$placeholder-color: #D6D8DB;
$background-gray: #F3F6F9;

$text: #1F1F1F;

// Micromodule
$mm-value: 4;
